*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#container{
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    /* debug */
}
#player{
    height: 100px;
    width: 100%;
    /* debug */
    background-color: rgba(40,40,40,255);
    position: fixed;
    z-index: 100;
}
.flexbox{
    display: flex
}

/* aside */


#home{
    height: 100%;
    width: 250px;
    /* debug */
    background-color: black;
}
#logo { 
    display: block;
    max-width: 150px; 
    padding-left: 10%; 
    margin: 10% 0;
}

#spotifysmall{
    display: none;
}
#greenborder{
    border-left: solid 3px rgba(173,255,47,255);
}
#icons i{
    color:rgba(132,132,132,255);
    font-size: 40px;
}
#icons a{
    color: lightgray;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin-top: 10px;
}
#icons span{
    margin-left: 20px;
}
#icons a:hover{
    color: white;
}
#icons h3{
    margin-top: 30px;
    color: white;
    margin-left: 10%;
}
#user{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height:;
    /* debug */

}
#install{
    margin-bottom: 10px;
}
#user p{
    color: white;
    border-top: solid 2px lightgray;
    padding:10px 40px 0 0;
    margin-bottom: 5px;
}
#install span{
    color: lightgray;
}
#user p span{
    color: white;

}
.fa-arrow-circle-down{
    color: white;
}
.fa-user{
    background-color: gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
}







main{
    height: 100%;
    width: calc(100% - 250px);
    /* debug */
    background-color:rgba(20,25,34,255);
}

#containupgrade{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.356);
}
#upgrade{
    float: right;
    border-radius: 30px;
    border: white solid 1px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}
#upgrade:hover{
    cursor: pointer;
    transform: scale(1.1);
}


@media all and (max-width:422px){
    #home{
        width: 50px;
    }
    main{
        width: calc(100% - 50px);
    }
   
    #icons span, h3, #nomeplaylist{
        display: none;
    }
    
    #greenborder{
        border: none;
    }
    #spotify{
        display: none;
    }
    #spotifysmall{
        display: block;
    }
    .fa-plus-square{
        opacity: 0;
    }
}