*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#container{
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    /* debug */
}
#player{
    height: 100px;
    width: 100%;
    /* debug */
    background-color: rgba(40,40,40,255);
}
.flexbox{
    display: flex
}
li{
list-style-type: none;
}

/* aside */


#home{
    height: 100%;
    width: 250px;
    /* debug */
    background-color: black;
}
#top {
    height: calc(100% - 100px);
}
#logo { 
    display: block;
    max-width: 150px; 
    padding-left: 10%; 
    margin: 10% 0;
}

#spotifysmall{
    display: none;
}
#greenborder{
    border-left: solid 3px rgba(173,255,47,255);
}
#icons i{
    color:rgba(132,132,132,255);
    font-size: 40px;
}
#icons a{
    color: lightgray;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin-top: 10px;
}
#icons span{
    margin-left: 20px;
}
#icons a:hover{
    color: white;
}
#icons h3{
    margin-top: 30px;
    color: white;
    margin-left: 10%;
}
#user{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 80px;
    /* debug */

}
#install{
    margin-bottom: 10px;
}
#user p{
    color: white;
    border-top: solid 2px lightgray;
    padding:10px 40px 0 0;
    margin-bottom: 5px;
}
#install span{
    color: lightgray;
}
#user p span{
    color: white;

}
.fa-arrow-circle-down{
    color: white;
}
.fa-user{
    background-color: gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
}







main{
    height: 100%;
    width: calc(100% - 250px);
    /* debug */
    background-color:rgba(20,25,34,255);
    overflow: scroll;
}

#containupgrade{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.356);
}
#upgrade{
    float: right;
    border-radius: 30px;
    border: white solid 1px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}
#upgrade:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#menu a{
    color: rgba(121,123,128,255);

}
#menu a:hover{
    color: white;
}

#menu{
    display: flex;
    align-content: center;
    justify-content: center;
    /* debug */
    width: 100%;
}
#menu li{
    display: inline-block;
    margin: 30px 30px;
}
#greenli{
    position: relative;
}
#green{
    width: 30px;
    position: absolute;
    right: 35px;
    bottom: 0;
    margin-top: 60px;
    border: lightgreen solid 1px;
}

.titles{
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.titles h2{
    color: white;
}
.titles p{
    color: rgb(165, 165, 165);
    font-size: 12px;
}
.songscontainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    height: 350px;
    /* debug */
}
.songs{
    position: relative;
    width: calc(90% / 6);
    height: 200px;
}
.songs-text{
    text-align: center;
}
.songs-text h3{
    color: white;
}
.songs-text p{
    color: rgb(165, 165, 165);
}

.songs img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.suggested{
    display: flex;
    justify-content: flex-start;
    width: 95%;
    margin: 0 auto;
}
.suggested .songs{
    margin-right: 20px;
}
.circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    /* debug */
}
.circle img{
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.songs .fa-play-circle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    visibility: hidden;
}
.fa-play-circle:hover{
    visibility: visible;
}

.songs:hover{
    opacity: 0.5;
}























@media all and (max-width:422px){
    #home{
        width: 50px;
    }
    main{
        width: calc(100% - 50px);
    }
   
    #icons span, h3, #nomeplaylist{
        display: none;
    }
    
    #greenborder{
        border: none;
    }
    #spotify{
        display: none;
    }
    #spotifysmall{
        display: block;
    }
    .fa-plus-square{
        opacity: 0;
    }
}